server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://product-service # ⚖️ 'lb://' tells it to use Load Balancing via Eureka
          predicates:
            - Path=/api/products/**
            - Path=/api/products

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    "[org.springframework.cloud.gateway]": DEBUG
    "[org.springframework.cloud.loadbalancer]": DEBUG
    "[reactor.netty.http.client]": DEBUG
